extend layout

block content
   .hero-body
    .container.has-text-centered
        .title.is-2
          h2 A little more about the founders
        .column.is-12s
          p
            img.promo-img(src='/images/warren.jpg', height='200px')                
            img.promo-img(src='/images/roemar.jpg', height='200px')
      .container
        br
        br
        p
          | Because we love seeing the genuine emotions of people in 
          br
          | any occations, thus, Jilly Beans Parties and Creation was born. 
          |                   
          br
          |Are you planning a party or event? You have come to the right place.
          br
          |For over 2 years Jilly Beans Parties and Creation has provided creative solutions
          br
          |to social and corporate celebrations, and special events. We are your home
          br
          |for great prices, full excitement, and complete party &amp; event solutions. 
          br
          |Our Mission is to provide the excitement, fun, elegance, entertainment, and 
          br
          |full party services for ANY and ALL events making every function as incredible as it should be!
