extend layout

block content
   .hero-body
      .container
        center
            .title.is-2
                h2 A little more about the founders
                    br
                    br
                    img(src='/images/founder1.png', height='500px', weight='550')
                   
              .container
              .column.is-6
                .tabs.is-centered
                     ul
                        li
                            img(src='/images/cupcake.png', height='60px') 
                            br
                         
                 .column.is-11
                    h2.subtitle.is-5
                        | Because we love seeing the genuine emotions of people in  any occations, thus, Jilly Beans Parties and Creation was born. 
                        br
                        br
                        | It started as a simple event planner for kid's birthday, but because of all the efforts given, the founders has learned the secrets on how to manage and expand the business and little by little an addtional service is added.
        br
        .tabs.is-centered
                     ul
                        li
                            img(src='/images/cupcake.png', height='60px') 
                            br