extends layout

block content
    .hero-body
        .container
            center
                h1.title.is-1 WELCOME LITTLE BEANS!
                br
                br
                img(src='/images/its-a-party-logo.png')
                br
                br
                .column.is-6
                    h2.subtitle.is-4
                     | Are you planning a party or event? You've come to the right place. For over 2 years Jilly Beans Parties and Creation has provided creative solutions to social and corporate celebrations, and special events. We are your home for great prices, full excitement, and complete party &amp; event solutions. Our Mission is to provide the excitement, fun, elegance, entertainment, and full party services for ANY and ALL events making every function as incredible as it should be!