extends layout

block content
    .hero-body
        .container.has-text-centered
            .columns.is-vcentered
              .column.is-5
                figure.image.is-4by3
                  img.promo-img(src='/images/logo.jpg', alt='Description')
              .column.is-6.is-offset-1
                h1.title.is-2 WELCOME        
                h2.subtitle.is-6
                  | Are you planning a party or event? You&apos;ve come to the right place. For over 2 years Jilly Beans Parties and Creation has provided creative solutions to social and corporate celebrations, and special events. We are your home for great prices, full excitement, and complete party &amp; event solutions. Our Mission is to provide the excitement, fun, elegance, entertainment, and full party services for ANY and ALL events making every function as incredible as it should be!

                br
