extends layout

block content
    .section
        .container
            .columns
              .column.is-12
                .title Graduation Party
                |             
                p
                  | We are experts in graduation party planning and execution. We can create a special graduation party that will leave your guests and the graduate completely satisfied. 
                  br
                  |             
                  br
                  |             Contact us today for a free event party consultation and get started with planning your great event!
                |              
                ul.section
                  li Invitations
                  |  
                  |                 
                  li Menus
                  |                 
                  li Entertainment
                  |                 
                  li Music
                  |                 
                  li Photography
                  |                 
                  li Rental Equipment
                  |                 
                  li ... and many more
            |       
            .columns
              .column.is-3
                .panel
                  p.is-marginless
                    img(src='/images/package2/G1.jpg', height='300', weight='300', <='', p='')
                    |             
                    .panel-block
                      .columns
              |           
              .column.is-3
                .panel
                  p.is-marginless
                    img(src='/images/package2/G2.jpg', height='300', weight='300', <='', p='')
                    |                   
                    .panel-block
                      .columns  
              |         
              .column.is-3
                .panel
                  p.is-marginless
                    img(src='/images/package2/G3.jpg', height='300', weight='300', <='', p='')
                    |             
                    .panel-block
                      .columns
              |         
              .column.is-3
                .panel
                  p.is-marginless
                    img(src='/images/package2/G4.jpg', height='300', weight='300', <='', p='')
                    |             
                    .panel-block
                      .columns
