extends layout

block content
    .section
        .container
            .columns
              .column.is-12
                .title Welcome/Farewell Party
                |             
                p
                  | A farewell or Welcome party is held for many occasions. It&apos;s a great way to send off your friend, co-worker, and loved one with great memories or even welcome one. You can throw a farewell party when someone leaves work, leaves the country, or is starting a new chapter in any capacity. Organizing a party can take a bit of work. From planning, inviting, setting up, and honoring your guest, there&apos;s a lot to do. Luckily, you can enlist the help of your friends, co-workers, etc., to help you. With a bit of planning and teamwork, you&apos;ll give your guest of honor a party to remember!
                  | Contact us today for a free event planning services consultation and get started with planning your great event!
                |              
                ul.section
                  li Invitations
                  |  
                  |                 
                  li Menus
                  |                 
                  li Entertainment
                  |                 
                  li Music
                  |                 
                  li Photography
                  |                 
                  li Rental Equipment
                  |                 
                  li ... and many more
            |       
            hr
            |       
            .columns
              .column.is-3
                .panel
                  p.is-marginless
                    img(src='/images/package3/WP1.jpg', height='300', weight='300', <='', p='')
                    |             
                    .panel-block
                      .columns
                        .column  
                        |                 
                        .column.has-text-right
              |          
              .column.is-3
                .panel
                  p.is-marginless
                    img(src='/images/package3/WP2.jpg', height='300', weight='300', <='', p='')
                    |             
                    .panel-block
                      .columns
                        .column  
                        |                 
                        .column.has-text-right
              |          
              .column.is-3
                .panel
                  p.is-marginless
                    img(src='/images/package3/FP1.jpg', height='300', weight='300', <='', p='')
                    |             
                    .panel-block
                      .columns
                        .column  
                        |                 
                        .column.has-text-right
              |         
              .column.is-3
                .panel
                  p.is-marginless
                    img(src='/images/package3/FP2.jpg', height='300', weight='300', <='', p='')
                    |             
                    .panel-block
                      .columns
                        .column  
                        |                 
                        .column.has-text-right
