extends layout

block content
    .section
        .container
            .columns
              .column.is-12
                .title Birthday Party            
                p
                  | Planning Birthday party ideas for kids is our specialty!
                  br             
                  br
                  | Contact us today for a free event planning services consultation and get started with planning your great event!          
                ul.section
                  li Themed Party Organization               
                  li Face Painting              
                  li Cartoon/Heroes Costume              
                  li Mascots         
                  li Balloon Twisting and Decoration        
                  li Photobooth            
                  li ... and many more
                hr
            .columns
              .column.is-3
                .panel
                  p.is-marginless
                    img(src='/images/package1/FP1.jpg', height='300', weight='300')     
                  .panel-block
                    .columns      
              .column.is-3
                .panel
                  p.is-marginless
                    img(src='/images/package1/FP2.jpg', height='300', weight='300') 
                  .panel-block
                    .columns   
              .column.is-3
                .panel
                  p.is-marginless
                    img(src='/images/package1/BT1.jpg', height='300', weight='300')      
                  .panel-block
                    .columns
              .column.is-3
                .panel
                  p.is-marginless
                    img(src='/images/package1/BT2.jpg', height='300', weight='300', <='', p='')           
                    .panel-block
                      .columns      
            .columns
              .column.is-3
                .panel
                  p.is-marginless
                    img(src='/images/package1/C1.jpg', height='300', weight='300', <='', p='')         
                    .panel-block
                      .columns      
              .column.is-3
                .panel
                  p.is-marginless
                    img(src='/images/package1/C2.jpg', height='300', weight='300', <='', p='')         
                    .panel-block
                      .columns    
              .column.is-3
                .panel
                  p.is-marginless
                    img(src='/images/package1/M1.jpg', height='300', weight='300', <='', p='')            
                    .panel-block
                      .columns
              .column.is-3
                .panel
                  p.is-marginless
                    img(src='/images/package1/M2.jpg', height='300', weight='300', <='', p='')           
                    .panel-block
                      .columns
            hr

        
        
        