extend layout

block content
    .hero-body
        .container.has-text-centered
            .columns.is-vcentered
              .column.is-4.is-offset-4
                span.nav-item
                  a.button.is-default(href='/package1') Package 1            
                span.nav-item
                  a.button.is-default(href='/package2') Package 2             
                span.nav-item
                  a.button.is-default(href='/package3') Package 3
