extend layout

block content
    .hero-body
        .container.has-text-centered
            .columns.is-vcentered
                .column.is-4.is-offset-4
                    br
    
                    span.nav-item
                     a.button.is-large.is-danger.is-outlined(href='/package1') Package 1    
                    span.nav-item
                      a.button.is-large.is-danger.is-outlined(href='/package2') Package 2 
                    span.nav-item
                      a.button.is-large.is-danger.is-outlined(href='/package3') Package 3
         